.header-amazon {
    width: 100%;
}

.p-bold { 
    font-weight: bold;
}

.link {
    cursor: pointer;
}

.link:hover {
    color: #ff950a;
}

.navbar-top {
    background: #131921;
    height: auto;
    padding: 5px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content:space-around;
}

.navbar-top div {
    padding: 4px;
}


.logo {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo img {
    width: 100px;
}

.logo p {
    color: #fff;
}

.local {
    color: #fff;
    display: flex;
    align-items: flex-end;
}

.info {
    font-size: 14px;
}

.info-entrega {
    color: #ccc;
}

.icon-local {
    font-size: 20px;
    font-weight: bold;
}

.input-search {
    width: 94%;
    max-width: 400px;
    display: flex;
    border: 2px solid #febd6900;
    padding: 0px !important;
    border-radius: 6px;
}

.input-search .todos, .input-search .input, .input-search .search {
    height: 38px;
    border: 0;
    outline: 0;
}

.todos {
    border-radius: 3px 0px 0px 3px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: #e6e6e6;
    padding: 10px;
    font-size: 12px;
    color: #555;
    font-weight: 100;
    gap: 5px;
}

.todos:hover {
    background: #d4d4d4; 
}

.input-search .input {
    outline: 0;
    width: 90%;
    max-width: 400px;
    padding-left: 10px;
}

.input-search .search {
    border-radius: 0px 3px 3px 0px;
    width: 70px;
    cursor: pointer;
    background: #febd69;
}

.account, .devolucao {
    color: #fff;
    display: flex;
    flex-direction: column;
}

.account p, .devolucao p, .carrinho p {
    font-size: 14px;
}

.carrinho {
    display: flex;
    flex-direction: row;
    color: #fff;
    font-weight: 100;
    align-items: flex-end;
    gap: 5px;
}

.carrinho h2 {
    display: flex;
    align-items: flex-start;
    gap: 2px;
}

.carrinho h2 span { 
    user-select: none;
    font-size: 10px;
    color: #ff950a;
    font-weight: bold;
}

.navlinks-amazon {
    display: flex;
    gap: 10px;
}

.nav-down {
    background: #232f3e;
    height: auto;
    
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-down-list {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.nav-down-list li {
    border: 1px solid #ffffff00;
    height: 100%;
    padding: 10px;
}

.nav-down-list li:hover {
    border: 1px solid #ffffff;
}


.nav-down-list a {
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    color: #fff;
    text-decoration: none;
}

.nav-down-list .icon-down-gray {
    color: #a7acb2;
}

.menu-mobile {
    font-size: 20px;
}

#menu-responsivo {
    display: none;
    align-items: center;
    height: 39px;
}

#menu-responsivo a {
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    color: #fff;
    text-decoration: none;
}

#menu-responsivo a:hover {
    color: #ff950a;
}

.warn-amazon-nav {
    color: #c9e2d3;
    font-size: 90%;
    user-select: none;
}